.buttonContainer {
    width: 650px;
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 1em;
  }
  
  .button {
    width: 120px;
    text-transform: capitalize;
  }